
.container{
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 2.5vw;
}

.form {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.input {
  display: flex;
  margin: 0 10px;
}

.input label{
  background: rgb(206, 202, 202);
  padding: .5rem;
}

.input input {
  border: solid thin rgb(122, 122, 122);
  font-size: 30px;
  text-align: center;
  width: 50px;
}

.month{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.cell{ 
  position: relative;
  display: flex;
  flex: 1 1 13%;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.cell.head{ 
  color: rgb(125, 0, 214);
  font-weight: bolder;
}
/* FORZA LA ALTURA IGUAL AL ANCHO PARA QUE SEA UN CUADRADO PERFECTO */
.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.between > div::after{
  content: '';
  flex: 1 1 auto;
  height: 100%;
  background-color:rgb(125, 0, 214);
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* RANGO DE FECHAS */
.between > div{
  position: relative;
  display:flex;
  color: white;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.between > div > div{
  position: relative;
  display: flex;
  flex: 0 0 50%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* FORCE SQUARE */
.between > div > div:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.month .start > div > div,
.month .end > div > div{
  border: 3px solid white;
  background-color: rgb(125, 0, 214);
  color: white;
}

.month .start > div::after{
  position: absolute;
  content: '';
  height: 100%;
  background-color: rgb(125, 0, 214);
  width: 50%;
  margin-left: 25%;
  z-index: -1;
  box-sizing: border-box;
}

.month .end > div::after{
  position: absolute;
  content: '';
  height: 100%;
  background-color: rgb(125, 0, 214);
  width: 50%;
  margin-left: -25%;
  z-index: -1;
  box-sizing: border-box;
}

